<% if !current_user.nil? %>
	<%= form_for :home, url: '/search' do |f| %>
		<p>
			<%= f.label :'@'%>
			<%= f.text_field :username, :value=>$username %>
			<%= f.submit "Search" %>
		</p>
	<% end %>
<% end %>

<strong>@<%= $username %></strong> mentions

<% $mentions.each do |tweet| %>
	<%= tweet.html.html_safe %>
	<% if tweet.html.scan('<a href="http://t.co/').any? %>
		<%= link_to 'lol', '/lol_pics/lol?id='+tweet.url, :onclick=>
			"var win = window.open(this.href);
			 win.onload = setTimeout(win.close(),1000);
			 return false;" %>
	<% end %>
	<br>
	<br>
	<br>
<% end %>

<%= link_to 'Top', '#' %>
<% if @tweetIDs.count == 5 %>
 | <%= link_to 'More', '/search?cmd=more#more', :anchor => 'more' %>
<% end %>
