<% if !current_user.nil? %>	
	<div class="form">
		<%= form_for :home, url: '/search' do |f| %>
		  	<%= f.label :'@'%>
		    <%= f.text_field :username, :value=>session[:username], :autocomplete=>"off"%>
		    <i class="fa fa-search" onclick="this.parentNode.submit();"></i>
		<% end %>
	</div>
<% end %>
<br>
<strong>@<%= session[:username] %></strong> mentions
<hr>
<% alt = false %>
<% @tweets.each do |tweet| %>
	<p <%= alt ? "style=color:#45ADA8" : "style=color:#9DE0AD" %>><%= tweet.text %></p>
	<% alt = !alt %>
	<% if tweet.media.present? %>
		<%= image_tag tweet.media[0]['media_url'], :style=>"border-radius:5px;" %>
		<br>
		<%= link_to '<div><i class="fa fa-star"></i></div>'.html_safe, 
		'/lol_pics/lol?url=' + tweet.media[0]['media_url'],
		:remote => true %>
	<% end %>
	<br>
	<br>
	<br>
<% end %>

<%= link_to 'Top', '#' %> <!--| <%= link_to 'Next', '/search?cmd=next' %> | <%= link_to 'Prev', '/search?cmd=prev' %>-->
