<% if !current_user.nil? %>
	<%= form_for :home, url: 'search' do |f| %>
		<p>
			<%= f.text_field :'@', :value=>$username %>
			<%= f.submit "Search" %>
		</p>
	<% end %>
<% end %>

<strong><%= $username %></strong> mentions
<ol>
	<% $mentions.each do |tweet| %>
		<li>
			<%= tweet.html.html_safe %>
		</li>
	<% end %>
</ol>

<%= link_to 'Top', '#' %> | <%= link_to 'More', '?cmd=more' %>
